 @import url(https://https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap);
    body {
        background-color: #9499f9;
        color: #0f141e;
        
        font-family: "BBH Sans Hegarty", sans-serif;
        font-weight: normal;
        font-size: 16px;
    }

a {
    color:#0f141e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(213, 34, 169);
}

a:visited {
    color: rgb(23, 39, 156); 
}

.avatar {
    width: 50%;
    border-radius: 25px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px){
    .info {
        text-align: center;
        display:block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color: #c42b56;
    margin: 0; 
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    /* тестовый комментарий для кода */
    /* letter-spacing: 3px; */
    /* word-spacing: 42px; */ 
}

/* Box Model */ 
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 40px;
}

/*.social {
    background: rgb(111, 100, 191);
    /*padding: 15px; */
    /* padding: 40px 15px; */
    /* padding: 25px 20px 30px 40px; */
    /*padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 30px;

    
    margin: 5px; 
    margin-bottom: 10px;

    border: 5px solid pink;
    border-bottom-style:dashed;
    border-top-width: 16px;
    border-right-color: #c42b56;
    border-top-left-radius: 25px;
    
} */

/*.box-model > div {
    float: left; 
    background-color: #0f141e;
    height: 200px;
    border: 4px solid beige;
    width: 25%;
} */

.bg-blue {
    background: #6d5fe5;
}

.bg-green {
    background: #a5ffea;
}

.bg-purple {
    background: #c37ec9;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list {
    color:rgb(49, 38, 46);
    margin-left: 10px;
}

.table {
    width: 100%;
}

.table {
    padding-bottom: 10px;
}

.table .temp1 td:nth-child(4) {
    color: #a5ffea;
}
.table .temp2 td:nth-child(4) {
    color:rgb(190, 149, 95)
}
.table .temp3 td:nth-child(4) {
    color:rgb(255, 251, 0);
}

/* .table tr:nth-child(even) {
    background: #c42b56;
} */

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c37ec9;

}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color:#000000;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #291e52;
    color:#0f141e;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.row >.form-group {
    width: 50%;
    margin: 20px;
}

.doakes {
    width: 500px;
}

.btn {
    background:#291e52;
    padding: 15px 20px;
    color:#c42b56;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/*Position*/

/*.position {
    position: relative;
    border:4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}


.box {
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 50;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #181349;
}*/